{% extends 'base.html' %}
<!-- {% load bootstrap4 %} -->

{% block body %}
<h3>{{review.pk}}님의 게시글</h3>
<a href="{% url 'reviews:index' %}">BACK</a>
<hr/>
<h4>Title : {{review.title}}</h4>
<p>Content : {{review.content}}</p>
<p>Rank : {{review.rank}}</p>
<p>작성일자 : {{review.created_at}}</p>
<p>수정일자 : {{review.updated_at}}</p>
<hr>

<a href="{% url 'reviews:update' review.pk %}">수정하기</a>
<!-- <form action="{% url 'reviews:update' review.pk %}" method="POST">
    {% csrf_token %}
    <button>수정</button>
</form> -->

<!-- <h5>댓글 작성</h5> -->

{% endblock %}